<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title><%= content_for?(:title) ? yield(:title) + ' // ' + Rails.application.class.parent_name : Rails.application.class.parent_name %></title>

    <%= stylesheet_link_tag    'application',       media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true if stylesheet_exists?(params[:controller]) %>
    <%= javascript_include_tag 'application',       'data-turbolinks-track' => true %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true if javascript_exists?(params[:controller]) %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'shared/flash' %>

    <%= yield %>

  </body>
</html>
